@use '../variables' as *;

.hero {
  position: relative;
  z-index: 1;
  display: flex;
  align-items: flex-start;
  gap: 2rem;
  padding: $hero-padding-desktop;
  color: $text-color;
  overflow: hidden;

  &::before {
    content: "";
    position: absolute;
    inset: 0;
    background-image: url('/hero-bckg-min_10_11zon.webp');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    z-index: -1;
    opacity: 1;
  }

  .hero-image-container {
    max-width: 25%;
    text-align: left;

    .hero-image {
      width: 100%;
      max-width: 300px;
      height: auto;
      filter: grayscale(100%);
      border-radius: 8px;
    }
  }

  .hero-content {
    max-width: 60%;
    padding: 2rem;
    background-color: rgba(0, 0, 0, 0.5);
    color: $text-color;
    border-radius: 8px;

    .hero-title {
      font-family: $font-main;
      font-size: 4.5rem;
      font-weight: 600;
      letter-spacing: 1px;
      display: flex;
      flex-wrap: wrap;
      margin-bottom: 1rem;

      span {
        opacity: 0; //Start unvisible
        transform: translateY(10px); // Move 10px down
        animation: fadeInUp 4s ease forwards; // display fadeInUp
        display: inline-block;
      }
    }

    .hero-tagline {
      font-family: $font-main;
      font-size: 1.25rem;
      font-weight: 300;
      margin-bottom: 2rem;
      line-height: 1.4;
    }

    .about-text {
      margin-top: 2rem;
      margin-bottom: 2rem;
      font-size: 1rem;
      line-height: 1.5;
      max-width: 800px;
      color: $text-color;
    }

    .hero-button {
      display: inline-block;
      font-family: $font-main;
      font-size: 1rem;
      font-weight: 500;
      color: $text-color;
      text-decoration: none;
      border: 2px solid $text-color;
      padding: 0.75rem 1.5rem;
      margin-right: 1rem;
      margin-bottom: 1rem;
      border-radius: 4px;
      transition: background-color 0.3s ease, color 0.3s ease;

      &:hover {
        background-color: $text-color;
        color: $bg-color;
      }
    }
  }
}

@keyframes fadeInUp {
  to {
    opacity: 1; // Text visible at the end of animation
    transform: translateY(0); // Back to his position
  }
}

@media (max-width: 768px) {
  .hero {
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: $hero-padding-mobile;

    .hero-image-container {
      max-width: 100%;
      text-align: center;

      .hero-image {
        width: 80%;
        margin: 0 auto;
      }
    }

    .hero-content {
      max-width: 100%;
      padding: 1rem;

      .hero-title {
        font-size: 2rem;
        justify-content: center;
      }

      .hero-tagline {
        font-size: 1rem;
        margin-bottom: 1.5rem;
        text-align: center;
      }

      .hero-button {
        margin-right: 0;
        width: auto;
        margin-bottom: 1rem;
      }
    }
  }
}

  