$font-main: 'Poppins', sans-serif;

$color-bg: #ffffff;
$color-text: #000000;
$color-accent: #888888;

$bg-color: #000;
$text-color: #fff;

$gradient-skill: linear-gradient(to right, #051c2c, #00497a, #00baff);


// Spacing
$spacing-xs: 4px;
$spacing-sm: 8px;
$spacing-md: 16px;
$spacing-lg: 32px;

$hero-padding-desktop: 4rem;  
$hero-padding-mobile: 2rem;  
