$font-main: 'Poppins', sans-serif;

$color-bg: #ffffff;
$color-text: #000000;
$color-accent: #888888;

$bg-color: #000;
$text-color: #fff;

$gradient-skill: linear-gradient(to right, #051c2c, #00497a, #00baff);


 
